/* For testing only */
*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}
/* End for testing */

body {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: #36454f;
}

#navbar, #main, article {
  margin: 5% 5%;
}

#main, article {
background: #45A3D7;
}

#navbar {
  width: 90vw;
  height: auto;
  background-image: url("../img/podcasts.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#navbar ul{
  list-style-type: none;
  margin-left: -4vw;
}

#main {
  width: 90vw;
  height: 45vh;
}

article {
  width: 90vw;
  height: 22.5vh;
}

@media screen and (min-width: 700px) and (max-width: 1599px) {

  article {
    width: 42.5vw;
    float: left;
    margin: 0;
  }

  article:first-of-type {
    margin-left: 5%;
  }

  article:nth-of-type(n+2) {
    margin-left: 5%;
  }
}

@media screen and (min-width: 1600px) {
  body {
    padding: 3.5% 0 0 0;
    height: 90vh;
  }

  #main {
    float: left;
    width: 65%;
    margin: 0 2vh 0 3.5%;
    height: 100%;
  }

  article {
    float: left;
    width: 27%;
    margin: 0;
    height: 44vh;
  }

  article:first-of-type {
    margin-bottom: 2vh;
  }
}
