/* For testing only */
*:not(body):not(html) {
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}
/* End for testing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  height: 100%;
  width: 100vw;
}

body {
  min-height: 100%;
  min-width: 100vw;
  background: #36454f;
}

#main, article {
background: #45A3D7;
margin: 5% 5%;
}

#navbar {
  width: 110vw;
  height: auto;
  margin-left: -2vw;
  margin-top: -2vh;
}

#navbar li {
  list-style-type: none;
  display: inline-block;
}

#main {
  width: 90vw;
  height: 45vh;
  background-image: url("../img/podcasts.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

article {
  width: 90vw;
  height: 25vh;
}

article img {
  max-width: 100px;
  max-height: 100px;
  float: left;
}

@media screen and (min-width: 700px) and (max-width: 1599px) {

  article {
    width: 42.5vw;
    float: left;
    margin: 0;
  }

  article:nth-of-type(odd) {
    margin-left: 5%;
    margin-top: 3%;
  }

  article:nth-of-type(even) {
    margin-left: 5%;
    margin-top: 3%;
  }
}

@media screen and (min-width: 1600px) {
  body {
    padding: 3.5% 0 0 0;
    height: 90vh;
  }

  #main {
    float: left;
    width: 65%;
    margin: 2vh 2vh 0 3.5%;
    height: ;
  }

  article {
    float: left;
    width: 27%;
    margin: 0;
    height: 44vh;
  }

  article:first-of-type {
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
}
